// {time from === to ul.js/moment.js}
// from moment.js || chalk.js
// error report morgana
// module fill all Node modules
// reload preload
// prompt work thread to pass e6
// pass # *;
// ++sol 
// git ignore https://github.com/NcCase/Nimvus;
// git cake" 🎂" http://127.0.0.1:5500/index.html run;
// git ssh://from.net/script; 


                            /*babelrc*/
